<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Trainer Manager</title>
  <link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>

<table width="100%">
  <tr>
    <td height="150px" bgcolor="#6351cc">
      <table width="100%">
        <tr>
          <td height="100px" width="100px">
            <img
                src="https://lh3.googleusercontent.com/4Lglvr0k7naOTUtJGeK1_VrUFndJNWQ8dYD67LuOYBNkQmhilGazmG_ogsq8Y5f7T9wMiAWBi_mRdJs5fmST7OQETlHAhLicq18a_5avgOt9oZI-GUU_db_yHAkOTpSlKQ8HYrH4C6R7ig6zYou3UvPszez6UwgYyjTI8QGSB7-pRKSS_KZBlK_yTIWOk60rv4Wr-6JGibZXr7dcCcyxC01PslYovhDaPqL7GV0SCBhxYKqoIzayr0Kg7eANHHUqCs58MMdkkBdnDzzYEqxcu6ZGnkYaDTc3uBgqGvkHcC0ZKwtaV5jGWY7INmKlSC-lkD3BP-kEvwIDlBLZZFqs8Vsk7nBeWCkManCp0s9TlJRI0FIdrSB5_pxeHQVLnckRVHSm2rq27KijIWdnSg_z0SXI8qG_U03QIIwVdpafde0drHyIBeIAuS_M9G1LjvqAHaI_xG_Kj1D97lhqqNriYS7AE40WGsATDp3JAwRJo7tcUgJq3zC8JCBGnoFoS3E2lokevCJS0vCSMNkTGgkF6Mj6mKTcAgrp-8x7D9Pr5xO3qIIZDcM_7OpfI7I2x4KqHY6RPhibqIvKuguTr_13BI5KoSAzbMqVaBmPmyVKoDSwQZimfPSXXVU1cReQdj1zCktz6b8sYsYRYRf9DAh-ikJYPz_p58DjdOXbiW9nxfRPcU3s50_fEbbEGKA=w450-h300-no?authuser=0"
                height="100px">
          </td>
          <td><h1 align="center">Приложение для записи к тренеру <br>в фитнесценр.</h1></td>
          <td width="100px">
            <a th:if="${logined}" th:href="@{/logout}">Выйти</a>
            <a th:unless="${logined}" th:href="@{/sign_in}">Войти</a>
          </td>
          <td width="100px">
            <a th:unless="${logined}" th:href="@{/registration}">Зарегестрироваться</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="75px" bgcolor="#fbffd1">
      <table id="menu">
        <tr>
          <td><a href="/index">Все тренера</a></td>
          <td><a href="/trainer/open-create-form">Стать тренером</a></td>
          <td>
            <a th:if="${logined}" th:href="@{/admin/{id}(id=${admin.id})}">Личный кабинет</a>
          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td height="200px" align="center">
      <h2>Trainer info:</h2>
      <img height="200px" th:src="${trainer.avatarUrl}">
      <h1 th:text="${trainer.firstName}">></h1>
      <h1 th:text="${trainer.lastName}"></h1>
      <h1 th:text="${trainer.experience}"></h1>
      <h1 th:text="${trainer.email}"></h1>
      <h1 th:text="${trainer.descriptionOfAchievements}"></h1>

      <h3>Введите свои данные для записи к тренеру</h3>
      <form th:object="${appointment}" method="post"
            th:action="@{/appointment/create}">
        <input type="text" id="name" th:field="*{userFirstName}" placeholder="name">
        <br>
        <input type="text" id="lname" th:field="*{userLastName}" placeholder="last name">
        <br>
        <input type="text" id="email" th:field="*{userEmail}" placeholder="email">
        <br>
        <input type="text" id="message" th:field="*{message}" placeholder="message">
        <br>
        <input type="text" id="phone" th:field="*{phone}" placeholder="phone">
        <br>
        <input type="hidden" name="trainerId" th:value="${trainer.id}">
        <br>

        <input id="reg-trainer-btn" type="submit" value="Записаться к тренеру">
      </form>
    </td>
  </tr>
  <tr>
    <td height="150px" bgcolor="#6351cc">4</td>
  </tr>
</table>

</body>
</html>
