<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Trainer Manager</title>
  <link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>

<table width="100%">
  <tr>
    <td height="150px" bgcolor="#6351cc">
      <table width="100%">
        <tr>
          <td height="100px" width="100px">
            <img
                src="https://lh3.googleusercontent.com/4Lglvr0k7naOTUtJGeK1_VrUFndJNWQ8dYD67LuOYBNkQmhilGazmG_ogsq8Y5f7T9wMiAWBi_mRdJs5fmST7OQETlHAhLicq18a_5avgOt9oZI-GUU_db_yHAkOTpSlKQ8HYrH4C6R7ig6zYou3UvPszez6UwgYyjTI8QGSB7-pRKSS_KZBlK_yTIWOk60rv4Wr-6JGibZXr7dcCcyxC01PslYovhDaPqL7GV0SCBhxYKqoIzayr0Kg7eANHHUqCs58MMdkkBdnDzzYEqxcu6ZGnkYaDTc3uBgqGvkHcC0ZKwtaV5jGWY7INmKlSC-lkD3BP-kEvwIDlBLZZFqs8Vsk7nBeWCkManCp0s9TlJRI0FIdrSB5_pxeHQVLnckRVHSm2rq27KijIWdnSg_z0SXI8qG_U03QIIwVdpafde0drHyIBeIAuS_M9G1LjvqAHaI_xG_Kj1D97lhqqNriYS7AE40WGsATDp3JAwRJo7tcUgJq3zC8JCBGnoFoS3E2lokevCJS0vCSMNkTGgkF6Mj6mKTcAgrp-8x7D9Pr5xO3qIIZDcM_7OpfI7I2x4KqHY6RPhibqIvKuguTr_13BI5KoSAzbMqVaBmPmyVKoDSwQZimfPSXXVU1cReQdj1zCktz6b8sYsYRYRf9DAh-ikJYPz_p58DjdOXbiW9nxfRPcU3s50_fEbbEGKA=w450-h300-no?authuser=0"
                height="100px">
          </td>
          <td><h1 align="center">Приложение для записи к тренеру <br>в фитнесценр.</h1></td>
          <td width="100px">
            <a th:if="${logined}" th:href="@{/logout}">Выйти</a>
            <a th:unless="${logined}" th:href="@{/sign_in}">Войти</a>
          </td>
          <td width="100px">
            <a th:unless="${logined}" th:href="@{/registration}">Зарегестрироваться</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="75px" bgcolor="#fbffd1">
      <table id="menu">
        <tr>
          <td><a href="index">Все тренера</a></td>
          <td><a href="/trainer/open-create-form">Стать тренером</a></td>
          <td>
            <a th:if="${logined}" th:href="@{/admin/{id}(id=${admin.id})}">Личный кабинет</a>
          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td height="200px">
      <h2>All trainers:</h2>
      <table id="collections-table" width="100%">
        <tr class="grey-colored-tr" th:each="trainer : ${trainers}">
          <td width="100px">
            <a th:href="@{trainer/{id}(id=${trainer.id})}">
              <img width="100px" th:src="${trainer.avatarUrl}">
            </a>
          </td>
          <td width="40px"></td>
          <td th:text="${trainer.name}"></td>
          <td th:text="${trainer.experience}"></td>
          <td width="60%" th:text="${trainer.descriptionOfAchievements}"></td>

          <td>
            <table th:marginheight="5">
              <tr>
                <td>
                  <a th:href="@{/trainer/{id}(id=${trainer.id})}">Инфо</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a th:href="@{/appointment/open-create-form/{trainerId}(trainerId=${trainer.id})}">Записаться</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a th:href="@{/comment/open-create-form/{trainerId}(trainerId=${trainer.id})}">Оставить
                    комментарий</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a th:if="${logined}" th:href="@{/trainer/delete/{trainerId}(trainerId=${trainer.id})}">Удалить
                    тренера</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a th:if="${logined}" th:href="@{/trainer/open-update-form/{trainerId}(trainerId=${trainer.id})}">Обновить
                    инфо тренера</a>
                </td>
              </tr>
            </table>
          </td>

        </tr>

      </table>
    </td>
  </tr>
  <tr>
    <td height="150px" bgcolor="#6351cc">4</td>
  </tr>
</table>

</body>
</html>
